#Panel .Box.PanelBoxToggle.Collapsed {
	padding-right: 20px;
	background-image: url('arrow.png');
	background-repeat: no-repeat;
	background-position: 95% 9px;
}

#Panel .Box.PanelBoxToggle {
	padding-right: 20px;
	background-image: url('arrow-down.png');
	background-repeat: no-repeat;
	background-position: 95% 9px;
}
